/** FLEX LIST **/ 
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
/** FONT LIST **/
a, h2, button {
    font-family: calibri;
}
p {
    font-family: tahoma;
}
.background-two p {
    font-family:tahoma;
    font-weight: bold;
}

/** MAIN CSS **/
:root {
    --light-green: rgb(34, 125, 34);
}

.driver {
    background-color: black;
    width: 99%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    max-width: 800px;
}
.driver td {
    padding: 15px;
}
table p {
    color: white;
    font-size: 120%;
}
table h2 {
    color: var(--light-green);
    font-size: 300%;
}
table button {
    padding: 15px;
    font-weight: bold;
    font-size: 130%;
}
table .background-wrap {
    position: relative;
}
table .background td {
    background-color: var(--light-green);
    height: 200px;
    width: 200%;
    position: relative;
    left: 50%;
    transform: skewY(-8deg) translateX(-50%) translateY(-30%);
} 
.background img {
    width: 200px;
    transform: skewY(8deg);
} 
.background td {
    display: flex;
    justify-content: center;
    align-items: center;
}
table .background-two {
    transform: skewY(0);
    display: flex;
    justify-content: center;
}
.background-two p {
    background-color: var(--light-green);
    width: 75%;
    height: 200px;
    padding: 25px;
    box-sizing: border-box;
    font-size: 350%;
    position: relative;
}
.background-two p i {
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
table .icon {
    display: flex;
}
.icon p {
    padding: 25px;
    width: 75%;
    text-align: left;
}
.icon img {
    height: 75px;
    width: 75px;
}
.info td {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info b {
    font-size: 150%;
}
#fine-print-wrap {
    display: flex;
    justify-content: center;
}
#fine-print {
    margin-top: 50px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 60%;
    padding: 50px;
    position: relative;
    font-size: 80%;
}
.query {
    line-height: 0;
    padding: 0;
    height: 5px;
}
table a {
    text-decoration: none;
    font-size: 12px;
    left: 5%;
    position: relative;
}
#socials {
    display:flex;
    justify-content: space-between;
}
#socials img {
    height: 25px;
    width: 25px;
}

@media only screen and (min-width: 500px) {
    .background img {
        width: 250px;
    }
}
@media only screen and (max-width: 550px) {
    .background-two p {
        font-size: 200%;
    }
}